* {
  box-sizing: border-box;
}

body {
  widtH: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body, input, textarea, button {
  font-family: "Raleway", sans-serif;
}

.center {
  widtH: 100%;
  max-width: 840px;
  padding: 20px;
}

.signUp {
  display: flex;
  widtH: 100%;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
}
.signUp.close {
  transform: translate(-25%, 0);
}
.signUp .left, .signUp .right {
  width: 50%;
  padding: 80px 20px;
}
@media (max-width: 640px) {
  .signUp .left, .signUp .right {
    width: 100%;
  }
}
.signUp .left {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  text-align: center;
  background-image: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/CX7RXVJZ2P.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  color: white;
  transform-origin: center right;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  overflow: hidden;
}
.signUp .left .back {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/CX7RXVJZ2P.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  transform: rotateY(180);
  z-index: -1;
}
.signUp .left.close {
  transform: rotateY(-180deg);
  transition: 1s ease-in-out;
}
.signUp .left.close .back {
  transform: rotateY(0);
  transition: 1s ease-in-out;
}
.signUp .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.35);
}
.signUp .right form {
  width: 100%;
}
.signUp .right input[type=text],
.signUp .right input[type=email],
.signUp .right input[type=password] {
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 10px 0px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
}
.signUp .right input[type=text].first,
.signUp .right input[type=email].first,
.signUp .right input[type=password].first {
  margin-top: 0;
}
.signUp .right input[type=submit] {
  padding: 10px 40px;
  border: 2px solid #008c9e;
  background: white;
  color: #008c9e;
  transition: 0.15s ease-in-out;
  border-radius: 5px;
  outline: none;
}
.signUp .right input[type=submit]:hover {
  background: #008c9e;
  color: white;
}
.signUp .right .input-bordered {
  width: 100%;
  position: relative;
}
.signUp .right .input-bordered.active label {
  top: 0;
  left: 0;
  transform: translate(0, -50%) scale(0.75);
  color: #008c9e;
}
.signUp .right .input-bordered.active:after {
  width: 100%;
}
.signUp .right .input-bordered:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #008c9e;
  position: absolute;
  bottom: 0;
  transition: 0.15s ease-in-out;
}
.signUp .right .input-bordered label {
  color: #444;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  transition: 0.15s ease-in-out;
  cursor: text;
  transform-origin: center left;
}